body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

canvas {
    /* width: 80%; */
    min-width: 720px;
    /* height: 80%; */
    min-height: 480px;
    background-color: rgb(0, 0, 0);
}

@media (max-width:1024px) {
    canvas {
        width: 98%;
        height: 98%;

        min-width: 0px;
        min-height: 0px;
    }
}