body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/img/background/castel.png');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

canvas {
    /* width: 80%; */
    min-width: 720px;
    /* height: 80%; */
    min-height: 480px;
    background-color: transparent;
}

@media (max-width:1024px) {
    canvas {
        width: 100%;
        height: 100%;

        min-width: 0px;
        min-height: 0px;
    }
}